//VARIABLES (it musb be in the first position)
@use '../Mixins/Variables.scss' as *;

//MEDIA
@import '../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

    width: 100%;
    height: auto;
    
   
    
  }
  
  @mixin styles_tablets () {
    width: 100%;
    height: auto;
    
    
  }
  
  @mixin styles_desktop () {

    width: 100%;

   

    height: auto;
    
    
    
  }
  
  
  
  
.darkMode{

  padding: 0;
  margin: 0;

  color: wheat;
 
  background-color: #212121;
  transition: background-color 0.5s ease; 
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}

.whiteMode{ 

  padding: 0;
  margin: 0;

  color: black;

  background-color: rgb(243, 240, 233);
  transition: background-color 0.5s ease; 
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}