//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {
    border: 1px solid yellow;
    
  }
  
  @mixin styles_tablets () {
    
    width: 100%;

    margin: 0 auto;

    display: grid;
    //grid-template-columns: repeat(3, 1fr); // 3 columnas en el escritorio
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 20px;

    

    border: 1px solid red;

    .card{

      height: 300px;
      width: 600px;

      margin: 0 auto;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid red;

      img{
        width: 200px;
        
        
      }
    }

  }
  
  @mixin styles_desktop () {
  
      

      width: 100%;

      margin: 0 auto;

      display: grid;
      //grid-template-columns: repeat(3, 1fr); // 3 columnas en el escritorio
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 20px;

      

      border: 1px solid red;

      .card{

        height: 300px;
        width: 300px;

        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid red;

        img{
          width: 200px;
          
          
        }
      }


  

  
     
  }
  
  
  
  
  .cardsWrapper{
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }