//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;



//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {
    color: yellow;
    border: 1px solid yellow;
    
  }
  
  @mixin styles_tablets () {

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 15px;

    position: relative;

    
    width: 95%;
    height: 400px;
    

    .figureWrapper{
      
        width: 100%;
        height: 40%; 
        
        

        display: flex;
        justify-content: center;
        align-items: center;
        

       
        

        img{

          width: 70%;
          height: 200px;
          border-radius: 50px;
          
        }
    }

    .aboutTech{

      width: 100%; 
      height: 150px;

      padding: 5px; 

      text-align: center;

      border: 1px solid green;
    

      h5{
        text-align: center;
        color: red;
      } 

      p{
        color: red;

        
      }

      
    }
  }
  
  @mixin styles_desktop () {

    display: flex;
    flex-direction: column;

    margin: 0;
    
    position: relative;

    
    width: 90%;
    height: 330px;
    

    .figureWrapper{
      
        width: 100%;
        height: 50%; 
        
        

        display: flex;
        justify-content: center;
        align-items: center;
        

       
        

        img{

          width: 70%;
          border-radius: 50px;
          
        }
    }

    .aboutTech{

      width: 100%; 
      height: 150px;

      padding: 5px; 

      text-align: center;

      border: 1px solid green;
    

      h5{
        text-align: center;
        color: red;
      } 

      p{
        color: red;

        
      }

      
    }
  }
  
  
  
  
  .custom-carousel-item{
 
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }