//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';



@mixin styles_phone () {

  width: 100%;
  height: auto;

  padding: 10px;

  

  .tittle{

    margin: 5%  0 0 ;

    font-size: 40px;
  }
  
}

@mixin styles_tablets () {
  width: 50%;
  height: auto;

  padding: 10px;

 

  .tittle{

    margin: 5%  0 0 ;

    font-size: 70px;
  }
}

@mixin styles_desktop () {

    width: 50%;
    height: auto;

    padding: 10px;

    

    .tittle{

      margin: 5%  0 0 ;

      font-size: 70px;
    }

   
}




.welcomeInfoWrapper{
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}