//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {
    border: 1px solid yellow;
    
  }
  
  @mixin styles_tablets () {
    
    width: 40%;
  
      
    
  
    
    
    border: 1px solid blue;
  }
  
  @mixin styles_desktop () {
  
      width: 40%;            
      height: 320px;
  
      
    
  
      border: 1px solid red;
  
     
  }
  
  
  
  
  .welcomeAsideWrapper{
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }