//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {
    
    
  }
  
  @mixin styles_tablets () {

    display: flex;
   

    .footerWrapper{

        display: flex;
        justify-content: center;

        height: 50vh;
        width: 100%;
     
        border: 1px solid rgb(255, 0, 0);  


        .wrapperInfo{

            display: flex;
            flex-direction: column;

            width: 100%;

            border: 1px solid red;

            h1{
                width: 100%
            }

            .wrapperTitle{
                
                width: 50%;

                margin-left: 50%;  

                color: 1px solid red; 

                border: 1px solid red;
            }  
        }

        .wrapperSocialInfo{

            margin-top: 75px; 

            width: 70%; 

            .socialInfo{



                border: 1px solid red; 
            }
        }

        .wrapperSocialIcon{
            
            width: 50%;


            display: flex;
            flex-direction: column;
            justify-content: flex-end;


            margin-bottom: 5px;  
            
            border: 1px solid red;
            
            .wrapperIcons{

                display: flex;
                justify-content: space-around;
            }
        }
       

    }
   
  }
  
  @mixin styles_desktop () {

    display: flex;
   

    .footerWrapper{

        display: flex;
        justify-content: center;

        height: 50vh;
        width: 100%;
     
        border: 1px solid rgb(255, 0, 0);  


        .wrapperInfo{

            display: flex;
            flex-direction: column;

            width: 100%;

            border: 1px solid red;

            h1{
                width: 100%
            }

            .wrapperTitle{
                
                width: 50%;

                margin-left: 50%;  

                color: 1px solid red; 

                border: 1px solid red;
            }  
        }

        .wrapperSocialInfo{

            margin-top: 75px; 

            width: 70%; 

            .socialInfo{



                border: 1px solid red; 
            }
        }

        .wrapperSocialIcon{
            
            width: 50%;


            display: flex;
            flex-direction: column;
            justify-content: flex-end;


            margin-bottom: 5px;  
            
            border: 1px solid red;
            
            .wrapperIcons{

                display: flex;
                justify-content: space-around;
            }
        }
       

    }
  }
  
  
  
  
  .footerContainer{
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }