//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {
    
    
  }
  
  @mixin styles_tablets () {

    display: flex;
   

    .footerWrapper{

        display: flex;
        justify-content: center;

        height: auto; 
        width: 100%;
     
        border: 1px solid rgb(255, 0, 0);  

        //section one
        .wrapperInfo{

            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;  

            width: 100%;

            border: 1px solid red;

            .footerTitle{

                padding: 25px;

                text-align: center;


                font-size: 18px;

                border: 1px solid red;
            }

            .wrapperTitle{
                
                width: 60%; 

                margin-left: 40%;
                margin-top: 17px;   

                color: 1px solid red; 

                border: 1px solid red;
            }  
        }



        .wrapperSocialInfo{

            display: flex;
            flex-direction: column;
            justify-content: center;
            
            padding: 5px;

            width: 100%; 

            .socialInfo{

                height: 30%;

                font-size: 18px;

                border: 1px solid red;

                .socialTittle{
                    font-size: 18px;
                }

                .wrapperCv{
                    
                

                    border: 1px solid red;;

                    .cvIcon{
    
                        height: auto;
                        font-size: 15px;
    
                        img{
    
                            width: 22px; 
                            height: 25px;
            
                            margin: 10px;
                        }
                    }


                }
                
            }
        }

       
        .wrapperSocialIcon{
            
            width: 100%;


            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            margin-bottom: 5px;  
            
            border: 1px solid red;
            
            .wrapperIcons{

                display: flex;
                align-items: center; // Centra verticalmente las imágenes
                
                
        
                img{
                    width: 30px;
                    height: 30px;
        
                    margin: 10px;
                }
                }
        }


       

    }
   
  }
  
  @mixin styles_desktop () {

    display: flex;
   

    .footerWrapper{

        display: flex;
        justify-content: center;

        height: 60vh;
        width: 100%;
     
        border: 1px solid rgb(255, 0, 0);  

        //section one
        .wrapperInfo{

            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;  

            width: 100%;

            border: 1px solid red;

            .footerTitle{

                padding: 25px;

                text-align: center;


                font-size: 25px;

                border: 1px solid red;
            }

            .wrapperTitle{
                
                width: 60%; 

                margin-left: 40%;
                margin-top: 17px;   

                color: 1px solid red; 

                border: 1px solid red;
            }  
        }



        .wrapperSocialInfo{

            display: flex;
            flex-direction: column;
            justify-content: center; 

            width: 70%; 

            .socialInfo{

                height: 30%;

                border: 1px solid red;

                .wrapperCv{
                    
                

                    border: 1px solid red;;

                    .cvIcon{
    
                        height: auto;
    
                        img{
    
                            width: 30px;
                            height: 30px;
            
                            margin: 10px;
                        }
                    }


                }
                
            }
        }

        .wrapperSocialIcon{
            
            width: 50%;


            display: flex;
            flex-direction: column;
            justify-content: flex-end;


            margin-bottom: 5px;  
            
            border: 1px solid red;
            
            .wrapperIcons{

                display: flex;
                align-items: center; // Centra verticalmente las imágenes
                
                
        
                img{
                  width: 30px;
                  height: 30px;
        
                  margin: 10px;
                }
              }
        }
       

    }
  }
  
  
  
  
  .footerContainer{
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }