//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {
    
    
  }
  
  @mixin styles_tablets () {
   
  }
  
  @mixin styles_desktop () {

    display: flex;
   

    .footerWrapper{

        display: flex;
        justify-content: center;

        height: 40vh;
        width: 100%;
     
        border: 1px solid rgb(255, 0, 0);  


            .wrapperInfo{

                display: flex;
                flex-direction: column;

                width: 100%;

                border: 1px solid red;

                h1{
                    width: 100%
                }

                .wrapperTitle{
                    
                    width: 50%;

                    margin-left: 50%;  

                    color: 1px solid red; 

                    border: 1px solid red;
                }  
            }
       

    }
  }
  
  
  
  
  .footerContainer{
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }