//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

    
}

@mixin styles_tablets () {



}
  
@mixin styles_desktop () {

    height: 200px;

    border: 1px solid rgb(110, 240, 4);

    .iconsWrapper{
        

        display: flex;
        justify-content: space-around;

        border: 1px solid red;
    
        .icon{

            width: 80px;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border: 1px solid red;
    
            img{
                width: 40px;
                height: 40px;

                
    
            }
    
        }

    }


}
  
  
  
  
.iconsContainer{

    color: rgba(127, 230, 128, 0.572);

 



@include media-query($media_phone){ 
    @include styles_phone();
}

@include media-query($media_tablet){
    @include styles_tablets();
}

@include media-query($media_desktop){
    @include styles_desktop();
}

} 