//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {
    
    width: 100%;
    height: auto;

    

    margin-bottom: 20px; 
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
   
    
    
  }
  
@mixin styles_tablets () {

  width: 100%;
  height: auto;

  display: flex;
  


  
  
  
}

@mixin styles_desktop () {
  
  width: 100%;

  display: flex;
  

}


  
  .welcomeInfoContainer{

    

    padding: 20px;

      
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }