//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {
  


  h1{

    
  }

        
    
  }
  
@mixin styles_tablets () {

  height: 330px;
  
 
 

  

  h1{

    margin-left: 10px;
  }
  
  
}
  
@mixin styles_desktop () {
  
  height: auto;

  

}
  
   
  
  
  .myProjectsContainer{

    
    padding: 20px;

    

    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }