//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;

   

    textarea{

        height: 100px;

        padding: 10px;

        margin-bottom: 30px;

        .darkMode{
           
          
        }
        .lightMode{
           
        }
    }

    textarea:hover {
        
    }

    .darkModeButton{

        width: 70%;
       
        margin: 0 auto;

    }

    .lightModeButton{

        width: 70%;

        margin: 0 auto;

    }

    .lightMode{

    }

    .darkMode{


    }

}
  
@mixin styles_tablets () {

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;

  

    textarea{

        margin-bottom: 30px;

        width: 100%;
        height: 120px;  


        .darkMode{
           
           
        }
        .lightMode{
           
        }
    }

    textarea:hover {
       
    }

    .darkModeButton{

        width: 20%; 

    }

    .lightModeButton{

        height: 50px;

        width: 40%;

        margin: 0 auto; 

        margin-bottom: 10px;

        

    }

    .lightMode{

    }

    .darkMode{


    }

    
}
  
@mixin styles_desktop () {

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;

   

    textarea{

        margin-bottom: 30px;

        width: 100%;
        height: 120px;
        
        padding: 10px;


        .darkMode{
           
           
        }
        .lightMode{
           
        }
    }

    textarea:hover {
       
    }

    .darkModeButton{

        width: 50%;
        height: 50px; 

    }

    .lightModeButton{

        height: 50px;

        width: 50%;

        margin: 0 auto; 

        margin-bottom: 10px;

        

    }

    .lightMode{

    }

    .darkMode{


    }


    
}
  
  
  
  
.formContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;

    textarea{

        background: none;

        border: 1 px solid wheat; 
        border-radius: 15px;

        .darkMode{
            color: wheat;
        }
        .lightMode{
            color: black;
        }
    }
 
    textarea:hover {
        border: 1px solid #333;
    }

    .darkModeButton{


        background: none;
        color: wheat; 

        border: 1px solid  wheat;
        border-radius: 15px; 

    }

    .lightModeButton{

        

        background: none;
        color: #212121;; 

        border: 1px solid  #212121;;
        border-radius: 15px; 

    }

    .lightMode{

        background: none;
        color: black; 

        border: 1px solid  black;
        border-radius: 15px; 
    }

    .darkMode{


    }



@include media-query($media_phone){
    @include styles_phone();
}

@include media-query($media_tablet){
    @include styles_tablets();
}

@include media-query($media_desktop){
    @include styles_desktop();
}

}