//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {
    
   
  width: 100%;

  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  gap: 20px;

  justify-content: center;  

  .wrapperProject{

    width: 100%;

    .wrapperTittleProject{

      width: 300px;
      
      margin-left: 10px;
      
      font-size: 15px;
      
      a{

        
        list-style: none;
        text-decoration: none;
        text-align: center;



        
      }
    }
    
    .aboutProject{

      display: flex;

      .card {
  
        margin: 0 auto;

        
  
        width: 210px; 
        height: 179px;
  
        perspective: 1000px; /* Añade perspectiva para el efecto de 3D */
        
        
        cursor: pointer;
        border:none;
  
        background-color: none;
    
        .card-inner {
  
            position: absolute;
  
            width: 100%;
            height: 100%;

          
  
            transition: transform 0.5s; /* Agrega una transición suave */
            transform-style: preserve-3d;
    
            .card-front, .card-back {
  
                padding: 10px;
  
                width: 100%;
                height: 100%;
                position: absolute;
                backface-visibility: hidden; /* Oculta la cara trasera de la tarjeta */
  
                background-color: none;
  
                border: 2px solid rgb(10, 10, 10);
            }
    
            .card-front {
                
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
  
                
  
                background-color: #212121;
                border: 1px solid white;
                border-radius: 10px;
                
  
                img{
  
                  width: 200px;
                  height: 190px;
                  
                  padding: 10px;
  
                }
            }
    
            .card-back {

                
                
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
  
                transform: rotateY(180deg); /* Voltea la cara trasera de la tarjeta */
  
                .WebButton{
                  
                  height: auto;
                  width: 100%;
  
                  border: 1px solid #212121;;
                  border-radius: 15px;
  
                 
  
                  a{
  
                    text-decoration: none;
                  }
  
                }
  
            }
        }
    
        &:hover .card-inner {
            transform: rotateY(180deg); /* Rota la tarjeta en el eje Y al hacer hover */
        }
      }

      .aboutProjectList{

        display: flex;
        flex-direction: column;
        justify-content: center;

        
        
        .aboutTitleProject{

        
          text-align: center;

         

        }
      }

    }


  }
    
}
  
@mixin styles_tablets () {
    
    
    width: 100%;
    height: auto;

   

   /*  display: grid;
     grid-template-columns: repeat(3, minmax(100px, 1fr)); 
    gap: 20px;

    justify-content: center;   */

    .wrapperProject{

    
     
      
      .wrapperTittleProject{

        width: 300px;
      
        margin-left: 10px;
        
        font-size: 15px;
        
        a{

          width: 150px;
          list-style: none;
          text-decoration: none;



          
        }
      }

      .aboutProject{ 
        
        width: 100%;
        height: 200px; 

        display: flex;
        flex-direction: column;


        height: 150px;
    

      
        .card {
    
          position: relative;
    
          width: 179px; 
          height: auto;  

          background: none;
    
          perspective: 1000px; /* Añade perspectiva para el efecto de 3D */
          
          
          cursor: pointer;
          border:none;
   
          background-color: none;
      
          .card-inner {
    
              position: absolute;
    
              width: 100%;
              height: auto;
    
              
    
              transition: transform 0.5s; /* Agrega una transición suave */
              transform-style: preserve-3d;
      
              .card-front, .card-back {
  /* 
                  padding: 10px; */
    
                  width: 100%;
                  height: auto;
                  position: absolute;
                  backface-visibility: hidden; /* Oculta la cara trasera de la tarjeta */
  
                  background-color: none;
  
                  border: 2px solid rgb(10, 10, 10);
              }
      
              .card-front {
                  
                  width: 100%;
                  height: auto;
                  display: flex;
                  justify-content: center;
                  align-items: center;
  
                  
  
                  /* background-color: #212121; */
                  
                  border: 1px solid white;
                  border-radius: 10px;
                  
    
                  img{
    
                    width: 100%; 
                    height: auto;   
                    
                   /*  padding: 10px; */
    
                  }
              }
      
              .card-back {
    
                    

                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  align-items: center;

                 
                  transform: rotateY(180deg); /* Voltea la cara trasera de la tarjeta */
    
                  .WebButton{
                    
                    height: auto;
                    width: 100%;
  
                    border-radius: 15px;
    
                    a{
    
                      text-decoration: none;
                    }
    
                  }
    
              }
          }
      
          &:hover .card-inner {
              transform: rotateY(180deg); /* Rota la tarjeta en el eje Y al hacer hover */
          }
        }

        .aboutProjectList{

          width: 50%;

          margin-left: 200px;

        

        }
      }
      

    }


}
  
@mixin styles_desktop () {


  width: 100%;

 /*  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 20px; */

  

  .wrapperProject{

    width: 100%;
    

    .wrapperTittleProject{

      width: 100%;
      
      margin-left: 10px;
      
      font-size: 55px;
      
      a{

        list-style: none;
        text-decoration: none;



        
      }
    }

    .aboutProject{

      display: flex;
 
      .card {
  
        position: relative;
  
        min-width: 180px;  
        min-height: 180px;

        max-width: 200px;
        max-height: 200px;
  
        perspective: 1000px; /* Añade perspectiva para el efecto de 3D */
        
        
        cursor: pointer;
        border:none;
  
        background-color: none;
  
         
    
        .card-inner {
  
            position: absolute;
  
            width: 100%;
            height: 100%;
  
            
  
            transition: transform 0.5s; /* Agrega una transición suave */
            transform-style: preserve-3d;
    
            .card-front, .card-back {
  
                padding: 10px;
  
                width: 100%;
                height: 100%;
                position: absolute;
                backface-visibility: hidden; /* Oculta la cara trasera de la tarjeta */
  
                background-color: none; 
  
                border: 2px solid #212121;
            }
    
            .card-front {
                
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
  
                
  
                background-color: #212121;
                border: 1px solid white;
                border-radius: 10px;
                
  
                img{
  
                  width: 240p;
                  height: 210px;
                  
                  padding: 10px;
  
                }
            }
    
            .card-back {
  
                
                display: flex;
                flex-direction: column;
                
                justify-content: space-around;
  
                transform: rotateY(180deg); /* Voltea la cara trasera de la tarjeta */
  
                .WebButton{
                  
                  height: auto;
                  width: 100%;
  
                  border-radius: 10px;
  
                  a{
  
                    text-decoration: none;
                  }
  
                }
  
            }
        }
    
        &:hover .card-inner {
            transform: rotateY(180deg); /* Rota la tarjeta en el eje Y al hacer hover */
        }
      }

      .aboutProjectList{

        margin-left: 10px;
       
      }

    }
    

  }

  
    

    

    
}
  

  
  
.cardsWrapper{

    .wrapperProject{

      .card{

        display: flex
      }
    }

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}