//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';



@mixin styles_phone () {
  
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;

  a{

    text-decoration: none;
    }

    .wrapperLogo {

      width: 100px;
      height: auto; 

      padding: 5px;
      margin: 0;

      display: flex;

      img {
        width: 100%;
        height: 40px;
      }

    }

    p{

     
      text-decoration: none;
      text-align: center;
      

    }

  .active{
      
  };

  .social-Wrapper{

    max-width: 100%; // Adjust this value as needed
    height: 60px;
    width: 200px;

    position: relative;
    top: -20px; 

  

    
    padding: 5px;
 
    display: flex;
    justify-content: space-around;

    border: 1px solid red;

    .buttonMode{

      border: none;

      height: 40px;

      position: absolute;
      top: 50px; 
      right: 5px; 
    

      background-color: none;
      
      border-radius: 100%;

      cursor: pointer;

      img{

        width: 30px;
      }
    }

    .changelanguageButton{

      border: none;

      height: 40px;

      position: absolute;
      top: 50px; 
      right: 5px; 
    

      background-color: none;
      
      border-radius: 100%;

      cursor: pointer;

      img{

        width: 30px;
      }
    }
   

    .socialEmoticon-wrapper{

      display: flex;
      align-items: center; // Centra verticalmente las imágenes
      
      

      img{

        width: 25px;
        height: 25px;

        margin: 10px;
      }
    }
  }
  
}

@mixin styles_tablets () {
  
    width: 100%;
    height: 110px;

   
    text-decoration: none;

    position: absolute;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a{

    text-decoration: none;
    }

    .logoContainer{

      position: relative;
      top: -5px;

      height: 50px;
      height: auto;


   
      
      .wrapperLogo {
  
        width: 150px;
        height: auto;

        margin: 0;

        

        display: flex;
        justify-content: center;

        
  
 
        

          img {
            position: relative;
            width: 30%;
            height: 50px;
            padding: 5px;
            overflow: hidden;
          }
          
       
          
          img:hover {
            border: 2px dotted wheat; /* Cambio de color del borde al pasar el ratón por encima */
          
           animation: voltear 0.5s ease-in-out forwards, volver 0.5s ease-in-out forwards 0.5s; /* Aplica la animación de volteo durante 4 segundos y luego la animación de vuelta después de 4 segundos */
}
          }

          @keyframes volver {
            0% {
              transform: rotateY(180deg); 
              background-color: none; 
            }

            50% {
              transform: rotateY(90deg); /* La página regresa a la mitad de la rotación */
              background-color: transparent; 
            }

            100% {
              transform: rotateY(0deg); /* La página vuelve a su posición original */
              background-color: none /* El color de fondo vuelve a ser el original */
            }
          }
       
          
      
    }

    p{
     
      text-decoration: none;
      text-align: center;

      margin: 0;
      

    }

    .active{
       

       
    };

  

    .social-Wrapper{

      width: auto; // Adjust this value as needed
      height: auto;

      margin-right: 30px;
      padding: 0;
 
      display: flex;

      border: 1px solid red;

    

      .buttonMode{

        
  
        border: none; 
   
        background: none; 
  
        cursor: pointer;
  
        bottom: 60px ;
        
  
        
        img{
          width: 30px;
          height: 30px;
  
          margin: 10px;
        }
      }
      
      .changelanguageButton{
  
        
       
  
        border: none;
  
        background: none; 
  
        cursor: pointer;
  
        bottom: 60px ;
        
  
        img{
          width: 30px;
          height: 30px;
  
          margin: 10px;
        }
      }

      .socialEmoticon-wrapper{

        width: 150px;

        display: flex;
        justify-content: space-around;
        

        border: 1px solid yellow;

        img{

          width: 30px;

          
        }
      }
    }
}


@mixin styles_desktop () {

  width: 100%;
  height: 110px;

 
  text-decoration: none;

  position: absolute;
  

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a{

  text-decoration: none;
  }

  .logoContainer{

    position: relative;
    top: -5px;

    height: 50px;
    height: auto;


 
    
    .wrapperLogo {

      width: 150px;
      height: auto;

      margin: 0;

      

      display: flex;
      justify-content: center;

      


      

        img {
          position: relative;
          width: 30%;
          height: 50px;
          padding: 5px;
          overflow: hidden;
        }
        
     
        
        img:hover {
          border: 2px dotted wheat; /* Cambio de color del borde al pasar el ratón por encima */
        
         animation: voltear 0.5s ease-in-out forwards, volver 0.5s ease-in-out forwards 0.5s; /* Aplica la animación de volteo durante 4 segundos y luego la animación de vuelta después de 4 segundos */
}
        }

        @keyframes volver {
          0% {
            transform: rotateY(180deg); 
            background-color: none; 
          }

          50% {
            transform: rotateY(90deg); /* La página regresa a la mitad de la rotación */
            background-color: transparent; 
          }

          100% {
            transform: rotateY(0deg); /* La página vuelve a su posición original */
            background-color: none /* El color de fondo vuelve a ser el original */
          }
        }
     
        
    
  }

  p{
   
    text-decoration: none;
    text-align: center;

    margin: 0;
    

  }

  .active{
     

     
  };



  .social-Wrapper{

    max-width: 100%; // Adjust this value as needed
    height: auto;

    margin-right: 30px;
    padding: 0;

    display: flex;

  

    .buttonMode{

      margin-right: 100px;
      margin-top: 20px;

      border: none;

      background: none; 

      cursor: pointer;

      bottom: 60px ;
      

      
      img{
        width: 30px;
        height: 30px;

        margin: 10px;
      }
    }
    
    .changelanguageButton{

      margin-right: 100px;
      margin-top: 20px;

      border: none;

      background: none; 

      cursor: pointer;

      bottom: 60px ;
      

      img{
        width: 30px;
        height: 30px;

        margin: 10px;
      }
    }
    
    

    .socialEmoticon-wrapper{

      display: flex;
      align-items: center; // Centra verticalmente las imágenes
      
      

      img{
        width: 30px;
        height: 30px;

        margin: 10px;
      }
    }
  }
}




.navbar{
 


    .nav-item{
        text-decoration: none;

       

        .active{
           
        }
      
        
        
    };
    

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}