//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {
  
  padding: 10px;

  h1{

    margin-left: 10px;
  }

        
    
  }
  
@mixin styles_tablets () {
  
  padding: 10px;

  h1{

    margin-left: 10px;
  }
  
  
}
  
@mixin styles_desktop () {
  
  height: 500px;

  margin-left: 35px; 

}
  
   
  
  
  .myProjectsContainer{

  
    
  
    @include media-query($media_phone){
      @include styles_phone();
    }
  
    @include media-query($media_tablet){
      @include styles_tablets();
    }
  
    @include media-query($media_desktop){
      @include styles_desktop();
    }
  
  }