//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as *;

//MEDIA
@import '../../Mixins/MediaQueries/MediaQueries.scss';


@mixin styles_phone () {

  margin-top: 10px;

  

    .iconsWrapper{
        

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

       
    
        .icon{

            width: 80px;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            
    
            img{
                width: 40px;
                height: 40px;

                
    
            }
    
        }

    }

}

@mixin styles_tablets () {



}
  
@mixin styles_desktop () {

    height: 200px;

    

    .iconsWrapper{
        

        display: flex;
        justify-content: space-around;

    
        .icon{

            width: 80px;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

           
            img{
                width: 40px;
                height: 40px;

                
    
            }
    
        }

    }


}
  
  
  
  
.iconsContainer{


@include media-query($media_phone){ 
    @include styles_phone();
}

@include media-query($media_tablet){
    @include styles_tablets();
}

@include media-query($media_desktop){
    @include styles_desktop();
}

} 